.inspector-paragraph-container {
    margin-top: 1px;
    margin-bottom: 3px;
    padding: 2px;
    flex-direction: column;
    flex-grow: 1;
}

.inspector-paragraph-type-title {
    -unity-font-style: bold;
    margin-bottom: 3px;
    margin-top: 1px;
    margin-left: 3px;
}

.inspector-list {
    margin-top: 3px;
    margin-bottom: 5px;
    margin-left: 2px;
}

.inspector-list-header {
    background-color: var(--unity-colors-headerbar-background);
    border-color: var(--unity-colors-default-border);
    border-width: 1px 1px 0 1px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 4px;
    margin-bottom: -3px;
}

.inspector-list .unity-list-view__item,
.inspector-list-element {
    padding-left: 3px;
    padding-right: 6px;
    margin-right: -1px;
}

.inspector-list .unity-list-view__reorderable-item__container
{
    margin: 0;
    padding: 1px;
}

.inspector-list-element .unity-foldout--depth-0 {
    margin-left: 13px;
}

.inspector-localization-icon {
    width: 16px;
    height: 16px;
    margin: 0;
    margin-right: 2px;
    margin-left: -18px;
    padding: 0;
    background-image: url("project://database/Packages/com.unity.learn.iet-framework/Editor/UI/Images/Icons/Localization@2x.png?fileID=2800000&guid=d6a950b55021246639f5fb0a78f01005&type=3#Localization@2x");
    -unity-background-scale-mode: scale-and-crop;
    -unity-background-image-tint-color: var(--unity-colors-label-text);
    opacity: 0.4;
}

.unmasked-view {
    margin-left: 10px;
}

/* In all cases, the intent is to catch only the first-level Label and not potentially nested ones:
    1. is for ListViews
    2. is for PropertyFields that contain a ListView
    3. is for Foldouts that wrap around a bunch of PropertyFields (like for the callbacks)
    4. etc. are for more specific elements
*/
ListView.foldout-bold-title > Foldout > Toggle Label.unity-foldout__text,
PropertyField.foldout-bold-title > ListView > Foldout Label.unity-foldout__text,
Foldout.foldout-bold-title Label.unity-foldout__text,
ParagraphListView.foldout-bold-title > Foldout > Toggle Label.unity-foldout__text,
UnmaskedViewsListView.foldout-bold-title > Foldout > Toggle Label.unity-foldout__text
{
    -unity-font-style: bold;
}

.callbacks-foldout {
    margin-top: 8px;
}

.callbacks-foldout #unity-content {
    margin-left: 0px;
    margin-top: 3px;
}

.callbacks-foldout #unity-content PropertyField {
    margin-bottom: 5px;
}

.button-md {
    height: 24px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.indented-property {
    margin-left: 15px;
}

.faq-answer-label {
    margin-left: 4px;
    color: var(--unity-colors-label-text);
}

.faq-answer-text-field {
    height: 48px;
    white-space: normal;
}
